// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #0F5316;
// heading font
$txt-light: #f7e0dc;
// header/hero
$txt-accent: #e6a192;
$form-placeholder: #b6ccbc;
// form placeholder text
// Global colours
$accent-color: #b6ccbc;
// global accent colour
$accent-color-hover: #BBCCB6;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #0F5316;
$h3-color: #0F5316;
$h5-color: #0F5316;
// Layout colours
$section-light: #fff;
$section-dark: #b6ccbc;
$to-top-bg: #495061;
$footer-primary: #0F5316;
$footer-secondary: #0F5316;
// Keylines
$keyline-color: #b6ccbc;
$footer-keyline-color: #0F5316;